*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.7s;
    padding: 10px;
    z-index: 10;
    background: #8a2036;
}

header.abajo{
    background: #8a2036;
    padding: 10px 10px;
}

.navegacion{
	width: auto;
	margin-right: 50px;
    margin-left: 30px;
	background: rgba(255, 255, 255, 0);
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
    align-self: auto;
}

.menu > li > a{
	display: flex;
	padding: 10px 15px;
    margin-top: 5px;
	color: #ffffff;
	font-family: Verdana;
    font-size: 14px;
	text-decoration: none;
    border-radius: 10px;  
}

.menu li a:hover{
    background: #56212f;
	color: #ffffff;
	transition: all .3s;
}
.menu2{
    justify-content: right;
}
.menu2 > li{
	position: relative;
	display: inline-block;
 
}
.menu2 > li > a{
	display: flex;
	padding: 10px 15px;
    margin-top: 5px;
	color: #ffffff;
	font-family: Verdana;
    font-size: 14px;
	text-decoration: none;
}

.menu2 li a:hover{
    background:  #56212f;
	color: #ffffff;
	transition: all .3s;
    border-radius: 10px;
}
.submenu{
	position: absolute;
    background: #BC955B;
	width: 180%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    z-index: 10;
    box-shadow:0 0 10px 3px #b0ababd5;
    border-radius: 9px;
}
.submenu li a{
	display: block;
	padding: 10px;
	color: #fff;
	font-family: 'verdana';
    font-size: small;
	text-decoration: none;
    list-style: none;
    margin-top: 9px;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/*--Contenedor de la zona--*/
.zona1{
    width: auto;
    height: auto;
    margin: 40px;
    padding: 20px;
    margin-top: 12ch;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;
}
/*--Efectos de la zona--*/
.box4{
    background-color: #ffffff;
}

.shadow4{
    position:relative;
}
.shadow4{
      box-shadow:0 9px 4px #BC955B, 0 0 20px #bc955b00 inset;
}

.shadow4:before, .shadow4:after{
    position:absolute;
    content:"";
    top:14px;bottom:14px;left:0;right:0;
    box-shadow:0 0 25px 3px #8a2036;
    border-radius:100px/10px;
    z-index:-1;
}
/*--fin de la zona--*/
/*--Logo de la intintitucion--*/
.logoin{
    width: 25%;
    margin: auto;
    padding: 3ch;
    display: flex;
    justify-content: center;
}
/*--botones con iconos--*/
div.botons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    height: auto;
    margin: auto;
}
div.contenedor1{
    width: 240px;
    right: 80px;
}
img.icon{
    display: block;
    margin: 10px auto;
    width: 100px;
    padding: 50px;
    filter: drop-shadow(0 0 10px #8a2036 );
    
}
img.icon:hover{
    filter: drop-shadow(0 0 10px #BC955B );
    
}
h2.texto{
    font-family: Verdana;
    font-size: 1em;
    color: #8a2036;
    text-align: center;
    padding: 1ch;
    opacity: .8;
    text-decoration: none;
}

h2.texto:hover{
    color: #BC955B
}
.autocomplete-results {
    position: absolute;
    width: 75%; /* Cambiar el ancho según sea necesario */
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    /* Reducir el margen izquierdo */
    margin-left: 5%;
}

.autocomplete-results li {
    list-style: none;
    padding: 8px;
    cursor: pointer;
}

.autocomplete-results li:hover {
    background-color: #f5f5f5;
}